version: 2.1


executors:
  executor_python:
    docker:
      - image: circleci/python:3.6.9
    working_directory: /tmp


jobs:
  venv:
    executor: executor_python
    steps:
      - checkout:
          path: code
      - run:
          name: Create virtual environment and install test dependencies
          command: |
            python3 -m venv env_fidelity
            . env_fidelity/bin/activate
            pip3 install --upgrade pip
            pip3 install -r code/.circleci/requirements.txt
      - persist_to_workspace:
          root: .
          paths:
            - env_fidelity
            - code
  test_interpolation:
    executor: executor_python
    steps:
      - attach_workspace:
          at: .
      - run:
          name: Test interpolation
          command: |
            . env_fidelity/bin/activate
            cd code && CUDA_VISIBLE_DEVICES="" PYTHONPATH=. python3 ./tests/tf1/precision/test_interpolation.py
  test_convolution:
    executor: executor_python
    steps:
      - attach_workspace:
          at: .
      - run:
          name: Test convolution
          command: |
            . env_fidelity/bin/activate
            cd code && CUDA_VISIBLE_DEVICES="" PYTHONPATH=. python3 ./tests/tf1/precision/test_convolution.py
  test_feature_extractor:
    executor: executor_python
    steps:
      - attach_workspace:
          at: .
      - run:
          name: Test feature extractor (Inception)
          no_output_timeout: 120m
          command: |
            . env_fidelity/bin/activate
            cd code && CUDA_VISIBLE_DEVICES="" PYTHONPATH=. python3 ./tests/tf1/precision/test_inception.py
  test_ISC_determinism:
    executor: executor_python
    steps:
      - attach_workspace:
          at: .
      - run:
          name: Test Inception Score (ISC) determinism
          no_output_timeout: 180m
          command: |
            . env_fidelity/bin/activate
            cd code && CUDA_VISIBLE_DEVICES="" PYTHONPATH=. python3 ./tests/tf1/precision/test_metric_isc_determinism.py
  test_ISC_fidelity:
    executor: executor_python
    steps:
      - attach_workspace:
          at: .
      - run:
          name: Test Inception Score (ISC) fidelity
          no_output_timeout: 180m
          command: |
            . env_fidelity/bin/activate
            cd code && CUDA_VISIBLE_DEVICES="" PYTHONPATH=. python3 ./tests/tf1/precision/test_metric_isc_fidelity.py
  test_FID_determinism:
    executor: executor_python
    steps:
      - attach_workspace:
          at: .
      - run:
          name: Test Frechet Inception Distance (FID) determinism
          no_output_timeout: 180m
          command: |
            . env_fidelity/bin/activate
            cd code && CUDA_VISIBLE_DEVICES="" PYTHONPATH=. python3 ./tests/tf1/precision/test_metric_fid_determinism.py
  test_FID_fidelity:
    executor: executor_python
    steps:
      - attach_workspace:
          at: .
      - run:
          name: Test Frechet Inception Distance (FID) fidelity
          no_output_timeout: 180m
          command: |
            . env_fidelity/bin/activate
            cd code && CUDA_VISIBLE_DEVICES="" PYTHONPATH=. python3 ./tests/tf1/precision/test_metric_fid_fidelity.py
  test_KID_determinism:
    executor: executor_python
    steps:
      - attach_workspace:
          at: .
      - run:
          name: Test Kernel Inception Distance (KID) determinism
          no_output_timeout: 180m
          command: |
            . env_fidelity/bin/activate
            cd code && CUDA_VISIBLE_DEVICES="" PYTHONPATH=. python3 ./tests/tf1/precision/test_metric_kid_determinism.py
  test_KID_fidelity:
    executor: executor_python
    steps:
      - attach_workspace:
          at: .
      - run:
          name: Test Kernel Inception Distance (KID) fidelity
          no_output_timeout: 180m
          command: |
            . env_fidelity/bin/activate
            cd code && CUDA_VISIBLE_DEVICES="" PYTHONPATH=. python3 ./tests/tf1/precision/test_metric_kid_fidelity.py
  test_all_metrics:
    executor: executor_python
    steps:
      - attach_workspace:
          at: .
      - run:
          name: Test all metrics
          no_output_timeout: 180m
          command: |
            . env_fidelity/bin/activate
            cd code && CUDA_VISIBLE_DEVICES="" PYTHONPATH=. python3 ./tests/tf1/precision/test_metrics_all.py


aliases:
  - &jobs_all_tests
    - venv
    - test_interpolation:
        requires:
          - venv
    - test_convolution:
        requires:
          - venv
    - test_feature_extractor:
        requires:
          - venv
    - test_ISC_determinism:
        requires:
          - venv
    - test_ISC_fidelity:
        requires:
          - venv
# The following tests are disabled due to no bandwidth with circleci on the open source plan
#     - test_FID_determinism:
#         requires:
#           - venv
#     - test_FID_fidelity:
#         requires:
#           - venv
#     - test_KID_determinism:
#         requires:
#           - venv
#     - test_KID_fidelity:
#         requires:
#           - venv
#     - test_all_metrics:
#         requires:
#           - venv


workflows:
  version: 2
  venv_and_tests:
    jobs: *jobs_all_tests
  mondays:
    triggers:
      - schedule:
          cron: "0 0 * * 1"
          filters:
            branches:
              only:
                - master
    jobs: *jobs_all_tests
